In [91]:
import pandas as pd
import numpy as np
import pickle

In [92]:
pd.set_option('display.max_columns', 500)

In [93]:
df = pd.read_csv('train.csv')
df = pd.concat([df, pd.read_csv('test.csv')])
df.head()

,ID,Gender,Has a car,Has a property,Children count,Income,Employment status,Education level,Marital status,Dwelling,Age,Employment length,Has a mobile phone,Has a work phone,Has a phone,Has an email,Job title,Family member count,Account age,Is high risk
0,5037048,M,Y,Y,0,135000.0,Working,Secondary / secondary special,Married,With parents,-16271,-3111,1,0,0,0,Core staff,2.0,-17.0,0
1,5044630,F,Y,N,1,135000.0,Commercial associate,Higher education,Single / not married,House / apartment,-10130,-1651,1,0,0,0,Accountants,2.0,-1.0,0
2,5079079,F,N,Y,2,180000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-12821,-5657,1,0,0,0,Laborers,4.0,-38.0,0
3,5112872,F,Y,Y,0,360000.0,Commercial associate,Higher education,Single / not married,House / apartment,-20929,-2046,1,0,0,1,Managers,1.0,-11.0,0
4,5105858,F,N,N,0,270000.0,Working,Secondary / secondary special,Separated,House / apartment,-16207,-515,1,0,1,0,NaN,1.0,-41.0,0

In [94]:
df.drop(['ID', 'Account age'], axis=1, inplace=True)

In [95]:
df.columns

Index(['Gender', 'Has a car', 'Has a property', 'Children count', 'Income',
       'Employment status', 'Education level', 'Marital status', 'Dwelling',
       'Age', 'Employment length', 'Has a mobile phone', 'Has a work phone',
       'Has a phone', 'Has an email', 'Job title', 'Family member count',
       'Is high risk'],
      dtype='object')

In [96]:
df['Gender'] = df['Gender'].replace({'M': 1, 'F': 0})
df['Has a car'] = df['Has a car'].replace({'Y': 1, 'N': 0})
df['Has a property'] = df['Has a property'].replace({'Y': 1, 'N': 0})

C:\Users\ishan\AppData\Local\Temp\ipykernel_14244\2502618437.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Gender'] = df['Gender'].replace({'M': 1, 'F': 0})
C:\Users\ishan\AppData\Local\Temp\ipykernel_14244\2502618437.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Has a car'] = df['Has a car'].replace({'Y': 1, 'N': 0})
C:\Users\ishan\AppData\Local\Temp\ipykernel_14244\2502618437.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Has a property'] = df['Has a property'].replace({'Y': 1, 'N': 0})

In [97]:
df

,Gender,Has a car,Has a property,Children count,Income,Employment status,Education level,Marital status,Dwelling,Age,Employment length,Has a mobile phone,Has a work phone,Has a phone,Has an email,Job title,Family member count,Is high risk
0,1,1,1,0,135000.0,Working,Secondary / secondary special,Married,With parents,-16271,-3111,1,0,0,0,Core staff,2.0,0
1,0,1,0,1,135000.0,Commercial associate,Higher education,Single / not married,House / apartment,-10130,-1651,1,0,0,0,Accountants,2.0,0
2,0,0,1,2,180000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-12821,-5657,1,0,0,0,Laborers,4.0,0
3,0,1,1,0,360000.0,Commercial associate,Higher education,Single / not married,House / apartment,-20929,-2046,1,0,0,1,Managers,1.0,0
4,0,0,0,0,270000.0,Working,Secondary / secondary special,Separated,House / apartment,-16207,-515,1,0,1,0,NaN,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7287,0,1,1,0,135000.0,Working,Secondary / secondary special,Married,House / apartment,-21724,-1351,1,0,0,0,NaN,2.0,0
7288,0,1,1,0,157500.0,Working,Higher education,Married,House / apartment,-14976,-3550,1,0,0,1,Drivers,2.0,0
7289,0,0,1,0,67500.0,Working,Secondary / secondary special,Widow,House / apartment,-20482,-5030,1,1,1,0,NaN,1.0,0
7290,0,1,0,0,95850.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-18931,-6678,1,1,0,0,Laborers,2.0,0
7291,0,0,1,1,135000.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-10765,-2196,1,0,0,1,NaN,3.0,0

In [98]:
np.quantile(df['Income'], .95)

360000.0

In [99]:
df = df[df['Income'] < np.quantile(df['Income'], .95)]

In [100]:
df['Education level'].value_counts()

Education level
Secondary / secondary special    23806
Higher education                  8653
Incomplete higher                 1310
Lower secondary                    369
Academic degree                     31
Name: count, dtype: int64

In [101]:
1129/27330

0.04130991584339554

In [102]:
df['Education level'] = df['Education level'].astype('category')
df['Education level'] = df['Education level'].cat.remove_categories(['Lower secondary', 'Academic degree'])

C:\Users\ishan\AppData\Local\Temp\ipykernel_14244\2915731028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Education level'] = df['Education level'].astype('category')
C:\Users\ishan\AppData\Local\Temp\ipykernel_14244\2915731028.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Education level'] = df['Education level'].cat.remove_categories(['Lower secondary', 'Academic degree'])

In [103]:
df = df[~df['Education level'].isna()]

In [104]:
df['Marital status'].unique()

array(['Married', 'Single / not married', 'Separated', 'Civil marriage',
       'Widow'], dtype=object)

In [105]:
df['Marital status'] = df['Marital status'].replace({'Widow': 'Separated', 'Civil marriage': 'Married'})
df['Marital status'] = df['Marital status'].replace({'Single / not married': 0, 'Married': 1, 'Separated': 2})

C:\Users\ishan\AppData\Local\Temp\ipykernel_14244\2589461405.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Marital status'] = df['Marital status'].replace({'Single / not married': 0, 'Married': 1, 'Separated': 2})

In [106]:
df['Marital status']

0       1
1       0
2       1
4       2
5       1
       ..
7287    1
7288    1
7289    2
7290    1
7291    1
Name: Marital status, Length: 33769, dtype: int64

In [107]:
df.head()

,Gender,Has a car,Has a property,Children count,Income,Employment status,Education level,Marital status,Dwelling,Age,Employment length,Has a mobile phone,Has a work phone,Has a phone,Has an email,Job title,Family member count,Is high risk
0,1,1,1,0,135000.0,Working,Secondary / secondary special,1,With parents,-16271,-3111,1,0,0,0,Core staff,2.0,0
1,0,1,0,1,135000.0,Commercial associate,Higher education,0,House / apartment,-10130,-1651,1,0,0,0,Accountants,2.0,0
2,0,0,1,2,180000.0,Commercial associate,Secondary / secondary special,1,House / apartment,-12821,-5657,1,0,0,0,Laborers,4.0,0
4,0,0,0,0,270000.0,Working,Secondary / secondary special,2,House / apartment,-16207,-515,1,0,1,0,NaN,1.0,0
5,0,1,1,0,135000.0,Working,Secondary / secondary special,1,House / apartment,-13251,-3839,1,1,0,0,Accountants,2.0,0

In [108]:
df['Education level'].unique()

['Secondary / secondary special', 'Higher education', 'Incomplete higher']
Categories (3, object): ['Higher education', 'Incomplete higher', 'Secondary / secondary special']

In [109]:
df['Education level'] = df['Education level'].replace({'Secondary / secondary special': 0, 'Incomplete higher': 1, 'Higher education': 2})

C:\Users\ishan\AppData\Local\Temp\ipykernel_14244\1157423053.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Education level'] = df['Education level'].replace({'Secondary / secondary special': 0, 'Incomplete higher': 1, 'Higher education': 2})
C:\Users\ishan\AppData\Local\Temp\ipykernel_14244\1157423053.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['Education level'] = df['Education level'].replace({'Secondary / secondary special': 0, 'Incomplete higher': 1, 'Higher education': 2})

In [110]:
df['Employment status'].unique()

array(['Working', 'Commercial associate', 'Pensioner', 'State servant',
       'Student'], dtype=object)

In [111]:
df = pd.concat([df, pd.get_dummies(df['Employment status']) ], axis=1)

In [112]:
df.drop('Employment status', inplace=True, axis=1)

In [113]:
df.head()

,Gender,Has a car,Has a property,Children count,Income,Education level,Marital status,Dwelling,Age,Employment length,Has a mobile phone,Has a work phone,Has a phone,Has an email,Job title,Family member count,Is high risk,Commercial associate,Pensioner,State servant,Student,Working
0,1,1,1,0,135000.0,0,1,With parents,-16271,-3111,1,0,0,0,Core staff,2.0,0,False,False,False,False,True
1,0,1,0,1,135000.0,2,0,House / apartment,-10130,-1651,1,0,0,0,Accountants,2.0,0,True,False,False,False,False
2,0,0,1,2,180000.0,0,1,House / apartment,-12821,-5657,1,0,0,0,Laborers,4.0,0,True,False,False,False,False
4,0,0,0,0,270000.0,0,2,House / apartment,-16207,-515,1,0,1,0,NaN,1.0,0,False,False,False,False,True
5,0,1,1,0,135000.0,0,1,House / apartment,-13251,-3839,1,1,0,0,Accountants,2.0,0,False,False,False,False,True

In [114]:
df['Dwelling'].value_counts()

Dwelling
House / apartment      30118
With parents            1687
Municipal apartment     1066
Rented apartment         520
Office apartment         224
Co-op apartment          154
Name: count, dtype: int64

In [115]:
117 / 27012

0.004331408262994225

In [116]:
(862+414+177+117) / 27000

0.05814814814814815

In [117]:
df['Dwelling'].replace({'House / apartment', 'With parents'})

C:\Users\ishan\AppData\Local\Temp\ipykernel_14244\219283847.py:1: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  df['Dwelling'].replace({'House / apartment', 'With parents'})

0            With parents
1       House / apartment
2       House / apartment
4       House / apartment
5       House / apartment
              ...
7287    House / apartment
7288    House / apartment
7289    House / apartment
7290    House / apartment
7291    House / apartment
Name: Dwelling, Length: 33769, dtype: object

In [118]:
df['Dwelling'] = df['Dwelling'].astype('category')
df['Dwelling'] = df['Dwelling'].cat.remove_categories(['Municipal apartment', 'Rented apartment', 'Office apartment', 'Co-op apartment'])

In [119]:
df.head()

,Gender,Has a car,Has a property,Children count,Income,Education level,Marital status,Dwelling,Age,Employment length,Has a mobile phone,Has a work phone,Has a phone,Has an email,Job title,Family member count,Is high risk,Commercial associate,Pensioner,State servant,Student,Working
0,1,1,1,0,135000.0,0,1,With parents,-16271,-3111,1,0,0,0,Core staff,2.0,0,False,False,False,False,True
1,0,1,0,1,135000.0,2,0,House / apartment,-10130,-1651,1,0,0,0,Accountants,2.0,0,True,False,False,False,False
2,0,0,1,2,180000.0,0,1,House / apartment,-12821,-5657,1,0,0,0,Laborers,4.0,0,True,False,False,False,False
4,0,0,0,0,270000.0,0,2,House / apartment,-16207,-515,1,0,1,0,NaN,1.0,0,False,False,False,False,True
5,0,1,1,0,135000.0,0,1,House / apartment,-13251,-3839,1,1,0,0,Accountants,2.0,0,False,False,False,False,True

In [120]:
df.drop('Has a phone', axis=1, inplace=True)

In [121]:
df['Dwelling'] = df['Dwelling'].replace({'House / apartment': 1, 'With parents': 0})

C:\Users\ishan\AppData\Local\Temp\ipykernel_14244\186191525.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Dwelling'] = df['Dwelling'].replace({'House / apartment': 1, 'With parents': 0})
C:\Users\ishan\AppData\Local\Temp\ipykernel_14244\186191525.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df['Dwelling'] = df['Dwelling'].replace({'House / apartment': 1, 'With parents': 0})

In [122]:
df.head()

,Gender,Has a car,Has a property,Children count,Income,Education level,Marital status,Dwelling,Age,Employment length,Has a mobile phone,Has a work phone,Has an email,Job title,Family member count,Is high risk,Commercial associate,Pensioner,State servant,Student,Working
0,1,1,1,0,135000.0,0,1,0,-16271,-3111,1,0,0,Core staff,2.0,0,False,False,False,False,True
1,0,1,0,1,135000.0,2,0,1,-10130,-1651,1,0,0,Accountants,2.0,0,True,False,False,False,False
2,0,0,1,2,180000.0,0,1,1,-12821,-5657,1,0,0,Laborers,4.0,0,True,False,False,False,False
4,0,0,0,0,270000.0,0,2,1,-16207,-515,1,0,0,NaN,1.0,0,False,False,False,False,True
5,0,1,1,0,135000.0,0,1,1,-13251,-3839,1,1,0,Accountants,2.0,0,False,False,False,False,True

In [123]:
df.drop('Job title', axis=1, inplace=True)

In [124]:
df = df[df['Employment length'] < 0]
df = df[df['Family member count'] < 10]

In [125]:
df.dropna(inplace=True)

In [126]:
# import math

# for col in ['Income', 'Age', 'Employment length']:
#     df[col] = df[col].apply(lambda x: math.log(abs(x)))

In [127]:
X, y = df.drop('Is high risk', axis=1), df['Is high risk']

In [128]:
from imblearn.over_sampling import SMOTE

smt = SMOTE()
X, y = smt.fit_resample(X, y)

In [129]:
from sklearn.model_selection import train_test_split

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=.2)

In [130]:
from xgboost import XGBClassifier

model = XGBClassifier(enable_categorical=True)
model.fit(Xtrain, ytrain)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=True, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [131]:
model.score(Xtest, ytest)

0.9880675203725262

In [132]:
pickle.dump(model, open('model.pkl', 'wb'))

In [133]:
df['Income'].max()

355500.0

In [134]:
df.describe()

,Gender,Has a car,Has a property,Children count,Income,Marital status,Age,Employment length,Has a mobile phone,Has a work phone,Has an email,Family member count,Is high risk
count,26194.000000,26194.000000,26194.000000,26194.000000,26194.000000,26194.000000,26194.000000,26194.000000,26194.0,26194.000000,26194.000000,26194.000000,26194.000000
mean,0.350958,0.399939,0.661335,0.507788,173888.326048,0.944644,-14764.420287,-2641.248454,1.0,0.275407,0.098992,2.294533,0.016225
std,0.477279,0.489895,0.473265,0.766897,65664.374664,0.458724,3513.067375,2383.493724,0.0,0.446727,0.298657,0.932344,0.126343
min,0.000000,0.000000,0.000000,0.000000,27000.000000,0.000000,-24611.000000,-15713.000000,1.0,0.000000,0.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,126000.000000,1.000000,-17450.000000,-3503.000000,1.0,0.000000,0.000000,2.000000,0.000000
50%,0.000000,0.000000,1.000000,0.000000,157500.000000,1.000000,-14488.000000,-1965.000000,1.0,0.000000,0.000000,2.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,225000.000000,1.000000,-11901.000000,-962.000000,1.0,1.000000,0.000000,3.000000,0.000000
max,1.000000,1.000000,1.000000,7.000000,355500.000000,2.000000,-7489.000000,-17.000000,1.0,1.000000,1.000000,9.000000,1.000000

In [135]:
model.predict(np.array([1, 1, 1, 0, 920000, 0, 0, 1, -13505, -4380, 1, 1, 1, 7, -5, 0, 0, 0, 0, 1]).reshape(1, -1))

ValueError: Feature shape mismatch, expected: 19, got 20

In [ ]:
355500 - 1600000

-1244500

In [136]:
Xtest.head()

,Gender,Has a car,Has a property,Children count,Income,Education level,Marital status,Dwelling,Age,Employment length,Has a mobile phone,Has a work phone,Has an email,Family member count,Commercial associate,Pensioner,State servant,Student,Working
4701,0,0,1,2,67500.0,0,2,1,-13868,-3008,1,1,0,3.000000,False,False,False,False,True
32987,1,1,1,1,112500.0,0,1,1,-16204,-925,1,1,0,3.000000,False,False,False,False,True
36280,0,1,1,0,90000.0,0,1,1,-19051,-1486,1,0,0,2.000000,False,False,False,False,True
37649,0,0,1,2,180000.0,1,2,1,-12253,-3496,1,1,0,3.000000,False,False,False,False,True
48255,0,1,0,0,315000.0,NaN,1,1,-13506,-573,1,0,0,2.066381,False,True,False,False,True

In [137]:
Xtest.iloc[1]

Gender                         1
Has a car                      1
Has a property                 1
Children count                 1
Income                  112500.0
Education level                0
Marital status                 1
Dwelling                       1
Age                       -16204
Employment length           -925
Has a mobile phone             1
Has a work phone               1
Has an email                   0
Family member count          3.0
Commercial associate       False
Pensioner                  False
State servant              False
Student                    False
Working                     True
Name: 32987, dtype: object

In [141]:
model.predict(np.array(Xtest.iloc[2]).reshape(1, -1))

array([1])

In [140]:
ytest

4701     0
32987    1
36280    1
37649    1
48255    1
        ..
27255    1
1426     0
42717    1
13908    0
31108    1
Name: Is high risk, Length: 10308, dtype: int64